<h1>Contact : Creation</h1>
<form *ngIf="entityForm" [formGroup]="entityForm" class="form-validate form-horizontal mb-lg" role="form" name="entityForm" novalidate="" (submit)="submit($event, entityForm.value)">
    <div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="form-group required">
        <label class="col-xs-4 control-label required">Nom</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" name="name" formControlName="name">
            <span class="text-danger" *ngIf="isNotValidRequired(entityForm.controls['name'])">Ce champ est obligatoire</span>
        </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="form-group required">
        <label class="col-xs-4 control-label required">Telephone</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" name="phoneNumber" formControlName="phoneNumber">
            <span class="text-danger" *ngIf="isNotValidRequired(entityForm.controls['phoneNumber'])">Ce champ est obligatoire</span>
        </div>
        </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row flex-items-xs-right">
                <button class="btn btn-outline"  type="button" (click)="returnToList()" >Retour</button>
                <button type="submit" class="btn btn-icon btn-success" >
                        <clr-icon shape="check"></clr-icon>
                        Enregistrer
                </button>
         </div>
</form>